<div layout="row"
    layout-align-xs="space-between end"
    layout-align="start center">

    <md-button class="md-raised md-primary"
        ng-click="viewscope.snapshot()"
        ng-if="userLoggedIn" role="button">
      <md-icon md-svg-src="/assets/site/img/icons/ic_photo_camera_black_24px.svg">photo_camera</md-icon>
      <span class="button-label">Snapshot</span>
    </md-button>

    <md-button class="md-raised md-accent"
        ng-click="$ctrl.viewSource()" role="button">
      <md-icon md-svg-src="/assets/site/img/icons/ic_remove_red_eye_black_24px.svg">remove_red_eye_black</md-icon>
      <span class="button-label">View source-code</span>
    </md-button>

</div>
