<!-- ng-class="{'panel':true, 'panel-bottom':viewname=='home',
    'panel-main':viewname=='app-list',
    'panel-side':viewname=='instance', 'slide-top':true}" -->
<div ng-class="{'panel':true, 'slide-top':true,
    'panel-bottom':stateData.viewname=='home',
    'panel-main':stateData.viewname=='app-list',
    'panel-side':stateData.viewname=='instance'}"
    md-whiteframe="6" ng-init="initPanel()">

    <md-content layout="column">

        <div ui-view="panel-content" />
        <div ui-view="panel-buttons" />

        <!-- <spacer hide-short /> -->


    </md-content>

</div>
