<!-- style="width: 80%; height: 80%; margin: auto;"   -->
<md-dialog aria-label="View Source" ng-init="initialize()">
  <!-- <form> -->

    <md-toolbar layout-wrap>
      <div class="md-toolbar-tools">
        <h2 class="md-primary" flex="grow">Source Code</h2>
        <span flex="grow"></span>
        <md-button class="md-raised md-accent button-small"
            flex="none" role="button" ng-click="ctrl.closeDialog()">
          <md-icon md-font-set="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <!-- <h4>{{ app.title }}</h4> -->
      <md-content>
        <ui-codemirror ui-codemirror="{onLoad:codemirrorLoaded}"
            ui-codemirror-opts="cmOptions" class="inDialog"
            ng-model="app.source"
            name="source">
        </ui-codemirror>
      </md-content>

    </md-dialog-content>
  <!-- </form> -->
</md-dialog>
