//
// .main {
//     z-index: 2;
// }

md-divider {
    marign-top: 1.6em;
    margin-bottom: 1.6em;
}

md-progress-linear {
    marign-top: 1.6em !important;
    margin-bottom: 1.6em !important;
}




.main-content {
    margin-top: 20px;
    //min-height: calc(~"100% - 70px");
}

.main-content:after {
    content: "";
    display: block;
}
