<md-toolbar md-whiteframe="3" ng-cloak>
    <div id="top-toolbar" layout="row" layout-align="center center">

        <span class="sub-brand" ng-click="goHome()" flex="grow">
            <span flex hide-xs>Apps at an Exhibition</span>
            <span flex hide-xs>::</span>
            <span class="proposition" flex hide-xs>$(\forall x \in A)\space( \exists y)\space y = E(x)$</span>
            <span class="device-xs" flex hide-gt-xs>Apps at an Exhibition</span>
        </span>

        <span flex="none">
            <md-button class="md-button pull-right" ng-cloak ui-sref="app.login">Log in</md-button>
        </span>

    </div>
</md-toolbar>
